@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 4px;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #66C821;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.imagemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.imagemContainer img {
  max-width: 90%;
}

.logoPokemon {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;

}

.number {
  background-color: rgba(255, 255, 255, 0.329);
  padding: 2.5px 13px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.name {
  margin: 15px 0 7px;
  letter-spacing: 2px;
}

