@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 4px;
}

a, a:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Estilização da navbar */
nav {
  background: #FB6C6A;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

nav a {
  color: #fff
}

nav a:hover {
  color: #000000
}

/* Estilização da logo da pokedex */
.logo {
  flex: 1;
}

.logo img {
  width: 128px;
  margin-right: 10px;
}

/* Estilização do menu (ul e li) */
.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 15px 10px;
  font-size: 20px;
}

.toggle {
  font-size: 30px;
  display: none;
}

/* Estilização da parte responsiva */
@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }

  .menu {
    margin-top: 15px;
    display: none;
  }

  .menu.active, .toggle {
    display: block;
  }

  .toggle {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

/* Estilização da pokedex */
.pokemon {
  background-color: #66C821;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.imagemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.imagemContainer img {
  max-width: 90%;
}

.info {
  margin-top: 20px;

}

.number {
  background-color: rgba(255, 255, 255, 0.329);
  padding: 2.5px 13px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.name {
  margin: 15px 0 7px;
  letter-spacing: 2px;
}

.botao{
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}